body {
  background: url("../images/poster-1649848692049-3722.jpg")
    rgba(0, 0, 0, 0.801);
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: darken;
}

.details {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
   padding-bottom: 100px;
}

section {
  display: flex;
  flex-direction: column;
  background-color: #2b2b29;
  width: 900px;
  text-align: justify;
  padding: 40px;
  border-radius: 20px;
  margin: 50px;
  align-items: center;
 
}

figcaption {
  padding-left: 40px;
}

.ficaption__detail {
  padding-bottom: 10px;
}

figure {
  display: flex;
  align-items: center;
}

img {
  width: 250px;
  height: 350px;
  border-radius: 20px;
}

.detail_episode {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
}
iframe{
  display: flex;
  border-radius: 20px;
  margin-top: 40px;
}
  
  

