{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ encore_entry_link_tags('home') }}  
{% endblock %}
{% block body %}
    <h1>Jaykaytv</h1>
    <p class="home_color">Ce site vous présente les meilleurs films et séries</p>
{% endblock %}
