{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ encore_entry_link_tags('home') }}  
{% endblock %}



{% block body %}


<div class="home_page">
  
    <h1>Jaykaytv</h1>
    <P class="home_color">ce site vous présente les meilleurs films et séries</P>

    
</div>
{% endblock %}
