<header>    
  <a href={{ path('app_home')}}>  
    <div class="logo">        
    </div>    
  </a>
  
  <nav>
    <a class="btn_link" href={{ path('app_home')}}>Accueil</a>
    <a class="btn_link" href={{ path('app_film')}}>Films</a>
    <a class="btn_link" href={{ path('app_serie')}}>Series</a>
  </nav>
</header>