{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('ajout') }} 
{% endblock %}

{% block body %}
<article class="ajout__film">
    <h2 class="title_padding">Ajout film</h2>


   
{{form_start(form)}}


{{form_end(form)}}
</article>
{% endblock %}
