{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('film') }} 
{% endblock %}

{% block body %}
    <h2>Ajout film</h2>

<article class="films">    
ici bientot un formulaire
</article>
{% endblock %}
