{% extends 'base.html.twig' %}
{% block stylesheets %}
    {# {{ encore_entry_link_tags('film') }}  #}
{% endblock %}

{% block body %}
<article style=></article>
    <h2>Ajout film</h2>

<article class="films">    
{{form_start(form)}}


{{form_end(form)}}
</article>
{% endblock %}
