{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('film') }} 
{% endblock %}



{% block body %}

    <h2>Films</h2>

<article class="product ">
    
        <section class="product_card">
        <figure class="figure">
            <div class="dune">
                
            </div>
            <figcaption class="figcaption_card">
            <h3 class="figcaption_card-h3">Dune</h3>
            
            </figcaption>
        </figure>
        </section>
    
  
        <section class="product_card">
        <figure class="figure">
            <div class="dune">
                
            </div>
            <figcaption class="figcaption_card">
            <h3 class="figcaption_card-h3">Star Wars</h3>
            
            </figcaption>
        </figure>
        </section>
  
    
        <section class="product_card">
        <figure class="figure">
            <div class="dune">
                
            </div>
            <figcaption class="figcaption_card">
            <h3 class="figcaption_card-h3">Dune</h3>
            
            </figcaption>
        </figure>
        </section>
    
    
        <section class="product_card">
        <figure class="figure">
            <div class="dune">
                
            </div>
            <figcaption class="figcaption_card">
            <h3 class="figcaption_card-h3">Dune</h3>
            
            </figcaption>
        </figure>
        </section>
    
    
        <section class="product_card">
        <figure class="figure">
            <div class="dune">
                
            </div>
            <figcaption class="figcaption_card">
            <h3 class="figcaption_card-h3">Dune</h3>
            
            </figcaption>
        </figure>
        </section>
    
    
        <section class="product_card">
        <figure class="figure">
            <div class="dune">
                
            </div>
            <figcaption class="figcaption_card">
            <h3 class="figcaption_card-h3">Dune</h3>
            
            </figcaption>
        </figure>
        </section>
    
    
        <section class="product_card">
        <figure class="figure">
            <div class="dune">
                
            </div>
            <figcaption class="figcaption_card">
            <h3 class="figcaption_card-h3">Dune</h3>
            
            </figcaption>
        </figure>
        </section>
    
    
        <section class="product_card">
        <figure class="figure">
            <div class="dune">
                
            </div>
            <figcaption class="figcaption_card">
            <h3 class="figcaption_card-h3">Dune</h3>
            
            </figcaption>
        </figure>
        </section>
    
    
        <section class="product_card">
        <figure class="figure">
            <div class="dune">
                
            </div>
            <figcaption class="figcaption_card">
            <h3 class="figcaption_card-h3">Dune</h3>
            
            </figcaption>
        </figure>
        </section>
    
    
        <section class="product_card">
        <figure class="figure">
            <div class="dune">
                
            </div>
            <figcaption class="figcaption_card">
            <h3 class="figcaption_card-h3">Dune</h3>
            
            </figcaption>
        </figure>
        </section>
    
    
        
    
</article>
{% endblock %}
