{% extends 'base.html.twig' %}
{% block body %}
<section class="home_page">
  <h3 style="color:black; margin:2rem;">{{response|raw}}</h3>
  <a href={{path("app_home")}} class="btn_link">Retourner à l'accueil</a>
  <a href="#" class="btn_link">Suggerer une film</a>
</section>  
{% endblock %}
