{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('show') }} 
{% endblock %}



{% block body %}

    <h2>{{film.titre}}</h2>

<article class="details">

    
</article>
{% endblock %}
