{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('film') }} 
{% endblock %}
{% block body %}
<article class="details">
    <h2>{{film.titre}}</h2>    
</article>
{% endblock %}
